body,
html,
* {
    background-color: #a2abb5 ;
    font-size: 62.5%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
   justify-content: space-evenly;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    font-size: 3rem;
}

h1  {
    background-color: cornflowerblue;
    font-size: 6rem;
    padding: 10px;
    margin: auto;
    align-items: center;

    
}
.card {
 background-color: #1e2e41;
 width: 25vw;
 height: 40vh;
 align-items: center;
 padding: 2%;
 margin: 1.5rem;
 display: flex;

}

.card-title {
    font-size: 3.0rem;
    align-items: center;
    text-align: center;
  
}

.img {
    width: 80%;
    max-height: 25rem;
    justify-content: center;
    align-content: end;
}

