body,
html,
* {
    background-color: #a2abb5 ;
    font-size: 62.5%px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}





.card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    font-size: 3rem;
    background-color: lightpink;
    padding: 3%;

}

