body,
html,
* {
    background-color: #a2abb5 ;
    font-size: 10px;
    box-sizing: border-box;
    margin: 20px;
    padding: 0;
}

.card {
    height: 30vh;
    width: 27vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-size: 3rem;
    background-color: lightpink;
}

.card-title {
    font-size: 2.2rem;
    margin: .5rem 0;
}
.img {
    width: 100%;
}

